$primary: #ee3643;
$secondary: #3498db;
$active: #2980b9;
$success: #27ae60;
$danger: #e74c3c;
$warning: #f1c40f;

$bg-main: #fff;
$bg-secondary: #fff;
$bg-base: #f3f3f3;
$bg-light: rgba(255, 255, 255, 0.6);
$bg-gray: #F8F9FA;
$bg-gold: #ffd180;
$bg-dark: rgb(44 56 74 / 95%);
$bg-dark2: #3c4b64;

$text: #000
