* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

h1, h2, h3, h4, h5 {
  margin: 0 0 $offset-base;
}

.container {
  width: 1200px;
  margin: 0 auto;
  position: relative;

  @media (max-width: 1366px) {
    width: 100%;
    padding: 0 16px;
  }
}

a {
  transition: color 0.25s ease-in-out;
  text-decoration: none;
  color: inherit;

  &:hover {
    color: $primary;
  }
}

main {
  min-height: calc(100vh - 325px);
}

.content {
  padding: $offset-large-2 0;

  a {
    color: $active;

    &:hover {
      color: $primary;
    }
  }
}

.clear {
  content: "";
  display: table;
  clear: both;
}

ul.list {
  list-style: square;
  padding-left: 14px;

  li {
    font-size: 14px;
    line-height: 1.5;
  }
}

.link {
  color: $primary;
  transition: all 0.25s ease-in-out;

  &:hover {
    color: #000;
  }
}

p {
  line-height: 1.5;
  font-size: 16px;
  margin: 0 0 16px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: $offset-base;
}

.column-3 {
  display: flex;
  flex-direction: column;
  width: 33%;
}

.column-4 {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: $offset-small;
}

.column-5 {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.v-btn a {
  &:hover {
    color: inherit;
  }
}

ul.special-list {
  list-style: none;
  padding: 0;
  margin: 0;

  /* Стили для элементов списка */
  li {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    background-color: #f2f2f2;
    transition: background-color 0.3s ease;
  }

  /* Эффект при наведении на элемент списка */
  li:hover {
    background-color: #e0e0e0;
  }
}

.alert-message {
  position: fixed !important;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.alert {
  position: fixed !important;
  top: 32px;
  right: 32px;
  width: content-box;
}

.modal {
  max-width: 100%;
  width: 500px;
}

.table {
  width: 100%;
  border: none;
  margin-bottom: 20px;

  table {
    width: 100%;
  }
}

.table tr:first-child {
  font-weight: bold;
  text-align: left;
  border: none;
  padding: 10px 15px;
  background: #d8d8d8;
  font-size: 14px;
}

.table thead tr th:first-child {
  border-radius: 8px 0 0 8px;
}

.table thead tr th:last-child {
  border-radius: 0 8px 8px 0;
}

.table tbody td {
  text-align: left;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  vertical-align: top;
}

.table tbody tr:nth-child(even) {
  background: #f3f3f3;
}

.table tbody tr td:first-child {
  border-radius: 8px 0 0 8px;
}

.table tbody tr td:last-child {
  border-radius: 0 8px 8px 0;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: grayscale(1);
}

.v-breadcrumbs {
  padding-left: 0 !important;
}